.paragraph {
  color: #333333;
  font-weight: 700;
  font-size: 2rem;
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  line-height: 1.8;
}

.line {
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  --highlight-offset: 0%;
  background-image: linear-gradient(
    90deg,
    black var(--highlight-offset),
    rgba(255, 255, 255, 0.2) var(--highlight-offset)
  );
}
